html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

html, body{
  margin: 0;
  line-height: $defaultLineHeight;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-header{
    $headerTransitionDuration: 0.4s;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    height: 85px;
    transition: all $headerTransitionDuration;
    padding: 0px 10px;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      padding: 0px 30px;
    }

    .logo{
      margin-top: 15px;
      height: 55px;
      transition: all $headerTransitionDuration;
    }
    .hamburger{
      margin-top: 20px;
      transition: all $headerTransitionDuration;
    }
    &.smaller{
      background-color:#666;
      background-color:rgba(0,0,0,0.6);
      height: 46px;
      .logo{
        margin-top: 8px;
        height: 30px;
      }
      .hamburger{
        margin-top: 0px;
      }

    }
    &.menu-hidden{
      height: 0;
    }
  }

  .site-content {
    flex: 1;
  }
}
