body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 62.5%;
  line-height: 1.4;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content {
    flex: 1;
  }
}

