.project{
  #slide_1{
    height: 100vh;
    min-height: $slidesMinHeight;
    .colored-layer{
      position: relative;
      width: 40vw;
      height: 100%;
      opacity: 0.3;
      filter: Alpha(opacity=30);
    }
    .project-title{
      color: white;
      text-transform: uppercase;
      line-height: 1;
      padding: 0 40px;
      position: absolute;
      top: 50%;
      left: 40vw;
      transform: translate(-50%, -35%);

      h1{
        font-weight: 900;
        margin-bottom: 3vh;
        text-shadow: 0.1vw 0.1vw 0.1vw #82898E;
        font-size: 12vw;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          font-size: 9vw;
        }

        @media screen and (max-height: 470px) and (min-width: map-get($grid-breakpoints, sm)) {
          font-size: 20vh;
        }
      }
      h2{
        font-weight: 600;
        text-shadow: 0.1vw 0.1vw 0.1vw #82898E;
        font-size: 6vw;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          font-size: 4vw;
        }

        @media screen and (max-height: 470px) and (min-width: map-get($grid-breakpoints, sm)) {
          font-size: 10vh;
        }
      }
    }
  }

  #slide_2{
    padding: 40px 0;
    text-align: center;
    h2{
      text-transform: uppercase;
      color: #D3D3D3;
      font-weight: 900;
      line-height: 1;
      font-size: 9vw;

      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        font-size: 7vw;
        padding: 0 50px;
      }
    }
    img{
      transform: translateY(-28px);
      max-width: 80%;
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        transform: translateY(-38px);
        max-width: 450px;
      }
    }
    p{
      color: #FAFAFA;
      padding: 0 20px;
      margin: 0 auto;
      @include font-size(1.5);
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        @include font-size(2.2  );
        max-width: 650px;
      }
    }
  }
}

.slide{
  position: relative;
  overflow: hidden;
  .slide-wp{
    position: relative;
  }
}

.bcg{
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
